
<div class="container">

  <div class="row">
    
    <div class="col">
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
           <a routerLink="/{{year}}/{{month-1}}" *ngIf="month!=1" class="btn btn-secondary" routerLinkActive="active"> 
                <i class="fa fa-arrow-left" aria-hidden="true"></i></a>

                <a routerLink="/{{year-1}}/{{12}}" *ngIf="month==1" class="btn btn-secondary" routerLinkActive="active"> 
              <i class="fa fa-arrow-left" aria-hidden="true"></i></a>



  <button type="button" class="btn btn-secondary bg-inverse text-white"> <b>{{data.monthNames[data.month]}} ({{year}}) </b> </button>
              <a routerLink="/{{year}}/{{month+1}}" *ngIf="month!=12" class="btn btn-secondary" routerLinkActive="active"> 
                <i class="fa fa-arrow-right" aria-hidden="true"></i></a>

                <a routerLink="/{{year+1}}/{{1}}" *ngIf="month==12" class="btn btn-secondary" routerLinkActive="active"> 
              <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
  <br>  
    <br>  
    </div>
  </div>
  </div>
<div class="container calendar">
 <div class="row seven-cols hidden-md-down ">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" *ngFor="let dayname of data.dayNames">
      <div class="card text-center daynames-block text-white">
       <h4 class="daynames">{{dayname}}</h4>
      </div>
    </div>
    
 
 </div>
  <div class="row seven-cols">

      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 hidden-md-down" *ngFor="let day of data.blank_days " >
     
    </div>

    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" *ngFor="let day of data.days " >
      <div class="card day-card " [ngClass]= "{'bg-faded': !today(day.date), 'bg-danger': today(day.date), 'text-white': today(day.date)}">
         <div class="card-block">
          <a  routerLink="/newevent/{{this.year}}/{{this.month}}/{{day.day}}" class="btn btn-sm add-btn" href="" >
          <i class="fa fa-plus" aria-hidden="true"></i></a> 
          <div class="date-head ">
           <h1 class="card-title day"><b >{{ day.day }} <small class="hidden-lg-up">{{data.dayNames[day.day_of_week]}}</small></b>  </h1>
          </div>
         </div>
              <div class="events" >
                <div class="list-group">
                  
              <a routerLink="/event/{{event._id}}" [ngClass]= "{'event-item-active': today(day.date)}"   *ngFor="let event of day.events" class=" list-group-item  list-group-item-action event-item">
                 <b> {{ event.date | date:"hh:mm a" }}</b> : {{event.title | uppercase}}
                  </a>
                
              </div>
              </div>
      </div>
    </div>
  </div>
  
</div>