
<div class="container">

  <div class="row">
    
    <div class="col">
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    
</button>
  <button type="button" class="btn btn-secondary">January</button>
  <button type="button" class="btn btn-secondary">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
</button>
</div>
  <br>  
    <br>  
    </div>
  </div>
 <div class="row seven-cols">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>Sunday</b>
      </div>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>Monday</b>
      </div>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>Tuesday</b>
      </div>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>WednesDay</b>
      </div>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>Thursday</b>
      </div>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>Friday</b>
      </div>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card text-center">
       <b>Saturday</b>
      </div>
    </div>
 
 </div>
  <div class="row seven-cols">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="card">
         <div class="card-block">
          
           <h4 class="card-title">7   <button type="button" class="btn btn-link">+</button> </h4>
           <small>asfasfsaf</small>     
         </div>
      </div>
    </div>

  



  </div>
</div>