/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    margin: 0px;
      flex: none;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width:14.285714285714285714285714285714%;
    flex: none;
    padding: 0px;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width:14.285714285714285714285714285714%;
    flex: none;
     padding: 0px;
  }
}

.add-btn{
    position: absolute;
    top:0px;
    right: 0px;
}
.date-head{
    position: absolute;
    top:5px;   
}
.event-item{
    padding: 0px;
    text-align: center;
    font-size: 10px;
}
.day-card {

    height: 150px;
}
.events{
    margin-top: 5px;
    overflow: auto;
}
.card-title small {
    font-size: 16px;
}