/* You can add global styles to this file, and also import other style files */



@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    max-width:100%;
    width: 100%;
    *width: 100%;
    margin: 0px;
      flex: none;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width:14.285714285714285714285714285714%;
    flex: none;
    padding: 0px;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width:14.285714285714285714285714285714%;
    flex: none;
     padding: 0px;
  }
}

.add-btn{
    position: absolute;
    top:0px;
    right: 0px;
    background-color: transparent;
    color: rgba(41, 43, 44, 0.80);
    border: 1px solid #ccc;
    font-weight: bold;
}
.date-head{
    position: absolute;
    top:5px;   
}
.event-item{
    padding: 0px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(41, 43, 44, 0.80);
    color: #ffffff;
}
.event-item-active{
    padding: 0px;
    text-align: center;
    font-size: 10px;
    background-color: #ffffff;
    color: rgba(41, 43, 44, 0.80);
}

.day-card {

    height: 150px;
}
.events{
    margin-top: 10px;
    overflow: auto;
}
.card-title small {
    font-size: 16px;
}
.daynames-block {
    background-color: rgba(41, 43, 44, 0.93);
    border-radius: 0px;

}
.daynames{
    font-weight: 500;
    margin-top: 7px;
}
.day {
    opacity: 0.8;
}
